*{
    margin: 0;
    padding: 0;
    font-family: "poppings", sans-serif;
    box-sizing: border-box;
}
header {
    height: 20%;
    width: 100%;
    padding: 0;
    background: #0a2342;
    box-shadow: 1.5px 2px 2px #080808;
}
header, .logo, .uc, nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.logo {
    /* position: fixed; */
    width: 6%;
    height: auto;
    margin: 0.5% 45% ;
    border-radius: 100px;
    /* box-shadow: 1.5px 1.5px 2px white; */
}
.uc {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    margin: 0.5% 40%;
    text-shadow: 1.5px 3px 6px #0a2342;
}
nav {
    margin: 0.5% 27%;
}
.nav-links {
    padding: 28px 100px;
}
.nav-links li {
    display: inline-block;
    margin: 0 15px;
}
.nav-links li:hover {
    background-color: #0a2342;
    border-bottom: 3px solid #2ca58d;
    color: rgb(70, 248, 189);
}
.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 50px;
    padding: 100px;
    width: 90%;
    margin: 20px auto;
    background-color: #c5c3c3;
}
#container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 20px auto;
    background-color: #76a59b;
    width: 80%;
}
#container3 {
    background-color: #cccaca;
    margin: 20px auto;
    width: 90%;
}
.pro-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#pro {
    margin: 20px auto;
    padding: 10px auto;
    background-color: #0a2342;
    color: #f4f4f4;
    width: 20%;
}
#pro-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.container-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 20%;
    margin: 5% auto;
    height: auto;
}

.desc {
    font-size: 14px;
    padding: 20px auto;
}
.pic {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

aside, article, footer {
    margin: 20px 0;
}

footer {
    background-color: #090d37;
    height: 10vh;
    margin-top: 20px;
}
@media only screen and (max-width:415px) {
    #container2, #pro-detail {
        flex-direction: column;
    }
}