*{
    margin: 0;
    padding: 0;
    height: auto;
    font-family: "poppings", sans-serif;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 20px;
}
header {
    height: 20%;
    width: 100%;
    padding: 0;
    background: #0a2342;
}
header, .logo, .uc, nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.logo {
    /* position: fixed; */
    width: 6%;
    height: auto;
    margin: 0.5% 45% ;
    border-radius: 100px;
    /* box-shadow: 1.5px 1.5px 2px white; */
}
.uc {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2rem;
    margin: 1% auto;
    text-shadow: 1.5px 3px 6px #0f4c96;
}
nav {
    margin: auto;
    width: 80%;
}
.nav-links {
    padding: 18px 100px;
}
.nav-links li {
    display: inline-block;
    margin: 0 15px;
}
.nav-links li:hover {
    background-color: #0a2342;
    border-bottom: 3px solid #2ca58d;
    color: rgb(70, 248, 189);
}
.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}
#container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 50px;
    width: 90%;
    margin: 50px auto;
    background-color: #c5c3c3;
    border-radius: 8px;
}
#container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
}
.serv-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto 2%;
    background-color: #cbe2dd;
    width: 100%;
    border-radius: 5px;
    height: auto;
}
.container-item {
    width: 26.6%;
    margin: 3% 2%;
    height: auto;
    background-color: #a7cec6;
    border-radius: 7px;
    padding: 20px;
}

#about-note {
    margin-top: 20px;
}

#container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3% auto;
    width: 98%;
    }
#pro {
    margin: 20px auto 10px auto;
    padding: 20px;
    color: #0a2342;
    width: 10%;
    height: 40px;
    border-radius: 5px;
}
#pro-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 1% 2%;
    background-color: #f4f0f0;
    border-radius: 8px;
}

.container3-item {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 2% 1%;
    border: 1px solid #0a2342;;
    padding: 10px;
    border-radius: 8px;
    background-color: #cccaca;
}
.container3-item a {
    text-decoration: none;
    font-weight: bolder;
    color: #0a2342;
    padding: 3px 10px;
    margin-bottom: 20px;
    border-radius: 5px; 
    font-size: 0.9rem;
}
.serv-head {
    margin: 20px;
    color: #022f67;
}
.desc {
    font-size: 0.8rem;
    padding: auto;
    margin-top: 20px;
    align-content: center;
    color: #022f67;
}
.pic {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

aside, article, footer {
    margin: 20px 0;
    height: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #090d37;
    height: 10vh;
    margin-top: 10px;
    font-family: monospace;
}
#fp {
    color: aliceblue;
    margin: auto;
    text-align: center;
    width: auto;
    font-size: 0.8rem;
}
#f-nav {
    display: inline;
    text-align: center;
    margin: auto;
    width: auto;
}
#f-nav a {
    margin: 10px;
    padding: 10px;
    color: aliceblue;
    font-size: 0.8rem;
}
i {
    clear: both;
    color: aliceblue;
    font-size: 0.8rem;
}
.active {
    color: green;
    font-size: 0.9rem;
}
.inactive {
    color: rgb(182, 58, 58);
    font-size: 0.9rem;
}
.status {
    margin: 20px;
    font-size: 0.9rem;
}

@media only screen and (max-width:415px) {
    #container2 {
        height: auto;
        width: 90%;
        flex-direction: column;
    }
    #container3 {
        height: auto;
    }
    #pro-detail {
        height: auto;
        flex-direction: column;
    }
    .uc {
        font-size: 28px;
    }
    .container {
        height: auto;
        border-radius: 5px;
    }
    .container3-item {
        margin: 10px;
        width: 80%;
        height: 200px;
    }
    .container-item {
        margin: 10px;
        width: 80%;
        height: auto;
        padding: auto;
        justify-content: center;
    }    
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .nav-links li {
        font-size: 14px;
    }
    footer {
        height: auto;
    }
    #f-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        width: auto;
    }
}